table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.centralize {
  display:flex!important;
  justify-content: flex-end!important;
  margin:auto!important;
  margin-top: 20px!important;
}

.errorLabel {
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  /* margin: 2em 0 1em; */
}

ul li {
  padding: 1em;
  margin: .5em;
  margin-right: 1rem;
  background: #fff;
  border-radius: .2em;
  border: solid 1px rgba(88, 183, 205, .15);
  border-bottom: solid 2px rgba(88, 183, 205, .15);
  position: relative;
}


form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="checkbox"]
  {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;

}



fieldset {
  margin-bottom: 30px;
  border: none;
}


label {
  display: block;
  margin-bottom: .5rem;
}

label.light {
  font-weight: 300;
  display: inline;
}

.submit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}
